.RepoCard{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    border-radius:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 60%;
    margin: auto;
    justify-items: center;
    display: flex;
    /*grid-template-rows: 1fr 3fr 1fr;*/
    margin-bottom: 10px;
    overflow: hidden;
    height: 80px;
}

.RepoCard h1 {
    font-size: 1.5rem;
    color: #0969da;
    padding: 2px 2px;
    max-width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: left;
}

.card-lg {
    display: block;
    height: 270px;
}

.card-lg h1 {
    font-size: 1.5rem;
    color: #0969da;
    padding: 2px 2px;
    max-width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.buttonHolderMore{
    display: flex;
    margin-left: 50%;
    margin-top: 20px;
    
}

.buttonHolderLess {
    display: flex;
    margin-left: 50%;
    margin-top: 20px;
    align-items: center;
}

.moreDetails {
    height: 30px;
}

.lessDetails {
    height: 30px;
    width: 30px;
    margin-left: 3px;
}


.gitButton>img{
    height: 2rem;
    margin-left: -10px;
}